* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**************************** 
         VARIABILI          
 ****************************/

:root {

    /* background colors */
    --first_bg_color: #0157ff;
    --second_bg_color: #a5cbe6;

    /* border colors */
    --first_brd_color: #605f60;
    --second_brd_color: #ddcdbf;

    /* text colors */
    --first_txt_color: #080000;
    --second_txt_color: #ffffff;
    --tird_txt_color: #61082b;

    /* border */
    --border: 1px solid #ddcdbf;

    /*max-width */
    --first_max-width: 920px;
    --second_max-width: 1100px;

    /* space */
    /*     --space_XS: */
    --space_XS: 5px;
    --space_S: 10px;

    --space_M: 20px;
    /* potrei avere una sola variabile e fare solo calocli!!!!!!!! */
    --space_L: 40px;
    --space_XL: 60px;

    /*column-size  */
    --first_col-space: 30%;
    --second_col-space: 70%;
    --third_col-space: 60%;
    --fourth_col-space: 20%;

    /* column/row space */
    --fifth_col-space: 50%;

    /* font-size */
    --font-size_XS: 12px;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size_XS);
}

/*************************
            ELEMENTS
    **************************/

h1 {
    font-size: 52px;
    font-weight: 800;
    padding: var(--space_L) 0;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: var(--space_L)
}

h3 {
    font-size: 24px;
    font-weight: 700;
    padding: var(--space_XS) 0;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    padding: var(--space_XS) 0;
}

p {
    padding-bottom: var(--space_M);
}

a {
    display: inline-block;
    padding-bottom: var(--space_M);
}

img {
    display: block;
}

section {
    max-width: var(--first_max-width);
    margin: auto;
}

li {
    list-style-type: none;
}

/* bottoni */

.btn {
    background-color: #0157ff;
    border: none;
    color: #ffffff;
    padding: var(--space_S) var(--space_M);
    margin-bottom: var(--space_M);
}

.btn.small {
    padding: var(--space_XS) var(--space_S);
}

.btn.white {
    background-color: #ffffff;
    color: #080000;
    border-top: 1px solid var(--second_brd_color);
    border-right: 1px solid #b3aaa3;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid grey;
}

.btn.borderless {
    border: none;
}

/* sta classe non mi convince ..........................*/
.alternative {
    padding-bottom: var(--space_M);
}

/* row e column */

[class*="row"] {
    display: flex;
    flex-direction: row;
}

[class*="col_30"] {
    width: 30%;
    position: relative;
}

[class*="col_70"] {
    width: 70%;
}

[class*="col_60"] {
    width: 60%;
}

[class*="col_40"] {
    width: 40%;
    position: relative;
}

/*************************
            HEADER
**************************/

/* nav */
nav li {
    display: inline-block;
}

nav a,
article a {
    text-decoration: none;
    color: #080000;
}

nav .btn.small {
    margin-bottom: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space_S);
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    width: 95%;
}

.nav-sx *,
.nav-dx * {
    display: inline;
    vertical-align: middle;
    padding: var(--space_XS);
}

/* jumbo */
header article {
    margin-bottom: 60px;
}

.bg-color {
    background-color: var(--second_bg_color);
}

#jumbo-container {
    width: var(--second_max-width);
    margin: auto;
    position: relative;
    top: var(--space_XL);
}

.jumbo a {
    padding-bottom: var(--space_M);
}

.jumbo-img img {
    width: 80%;
}

.jumbo-download-icon {
    position: absolute;
    bottom: 50px;
    font-size: 36px;
    color: #080000;
}

/*************************
           MAIN
**************************/

.section-container {
    padding: var(--space_L) 0;
}

/* BUISNESS PLAN SECTION................... */
#business-plan_section {
    /* relative <-- icon absolute */
    position: relative;
}

.section-body.row_30-30-30 {
    justify-content: space-between;
    padding-bottom: var(--space_L);
}

/* radio-button ................DA STILIZZARE*/
#business-plan_section .radio-btn {
    margin-bottom: var(--space_M);
}

.radio-btn span {
    padding-right: var(--space_L);
}

.section-header,
.section-body,
.section-footer,
.divider {
    padding-bottom: var(--space_M);
}

/* linea divisoria */
.divider {
    width: 20%;
    border-top: 1px solid var(--second_brd_color);
    padding-bottom: var(--space_L);
}

/* card....................... */

.section-body .card.col_30 {
    width: 30%;
}

.card.col_30 .card-container,
.row_70-30 {
    border: var(--border);
    padding: var(--space_M);
}

.card_top-title,
.footer_top-title {
    text-align: center;
    border: var(--border);
    border-bottom: 0;
    padding: var(--space_S);
}

.card .price {
    font-weight: 800;
}

.price::before {
    content: "\20AC";
}

.card .price-plan {
    color: var(--second_brd_color);
    padding: var(--space_XS) 0 var(--space_M) 0;
}

.card .btn {
    text-align: center;
    margin: var(--space_M);
}

.card ul {
    padding: var(--space_M);
}

.card li {
    padding: var(--space_S) 0;
}

/* icone */
/* devo chiedere se c'era un modo meno prolisso di scriverlo perchè è ripetitivo */

.card_top-title::before,
.card li.users::before {
    content: "\f007";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;

}

.advanced .card_top-title::before,
.advanced li.users::before {
    content: "\f0c0";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.enterprise .card_top-title::before {
    content: "\f1ad";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card li.archive::before {
    content: "\f07b";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card li.sharing::before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card-footer li::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #0157ff;
    font-size: larger;
    transform: translateY(2px);
    position: absolute;
    left: var(--space_M);
}

#business-plan_section .section-footer h4 {
    padding-bottom: var(--space_L);
}


/*  PARTNERSHIP SECTION............................... */

#partnership-section .col_40 {
    padding: var(--space_L);
}

.partnership-card p {
    padding-top: var(--space_S);
}

section img {
    width: 100%;
}

/*  OPERATION............................... */

#operations .row_30-30-30 {
    flex-wrap: wrap;
    gap: var(--space_L);
}

.col-wrap p {
    padding-bottom: var(--space-XL);
}

/*bunner  */
.row_60-40 {
    display: flex;
    justify-content: space-between;
}

.col_40 {
    text-align: right;
}

.bunner-container {
    padding: var(--space_XL) 0;
}

.bunner-container .title.tird-color h2 {
    color: #61082b;
}

/* square------------------------------------ */

.square-bunner-container {
    display: flex;
}

/* 3 riquadri genitori uguali */
.square-bunner-container>* {
    width: 33.3%;
}

/* 3 questa regola  permette di far riferire l'altezza dell'elemento non al padre ma alle misure dell'elemento stesso!! */
.square-bunner-container>*::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/*contenitori larerali di mini.sqare */
.max-square.sx,
.max-square.dx {
    display: flex;
    flex-wrap: wrap;
}

/* square  */
.max-square.sx>*,
.max-square.dx>* {
    width: 50%;
    height: 50%;
    /* position relative per le immagini contenute */
    position: relative;
}

.mini.square-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini.square-content>* {
    position: absolute;
    width: 50%;
    height: 50%;
    /* svg bianche */
    filter: invert();
}

.maxi.square-content .main-wrap {
    position: absolute;
    width: 33.3%;
    padding: var(--space_L);
}

.main-wrap img {
    width: 50%;
    padding-bottom: var(--space_L);

}

.square-content.university_of_florida>img {
    height: 10%;
}

/* square-content colors */

.square-content.designit {
    background-color: #a2d39b;
    border: 1px solid #d1e9cd;
}

.square-content.arizona_state_university {
    background-color: #61082b;
}

.square-content.university_of_florida {
    background-color: #0093ce;
}

.square-content.topps {
    background-color: #ff1c1c;
}

.square-content.world_bicycle_relief {
    background-color: #d5001f;
}

.square-content.hearts_crop {
    background-color: #b4d0e7;
}

.square-content.lonely_planet {
    background-color: #0d2481;
}

.square-content.clear_channel {
    background-color: #ffd830;
}

.maxi-square .square-content {
    height: 100%;
    background-color: #f5f5f5;
}

/* .................................. */

/* faq */
#faq{
    padding: var(--space_XL);
}
.faq-dropdown {
    display: flex;
    justify-content: space-between;
    /* input prima di label */
    flex-direction: row-reverse;
    padding: var(--space_L) 0; 
    border: none;

    /* ..........................................bordi collassano sono orrendi */
    border-top: 1px solid #605f60;
    border-bottom:1px solid  #b3aaa3;
}
.faq-dropdown:nth-child(2n+1){
    border-bottom:1px solid  #605f60;
    border-top: 1px solid  #b3aaa3;
}

.faq-dropdown .answer p{
    padding: var(--space_M) 0;
}

#faq #dropdown_01 {
    visibility: hidden;
    position: relative;
}

#faq #dropdown_01:checked {
    visibility: hidden;
    /*     position: relative; */

}

#faq #dropdown_01::before {
    content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    right: var(--space_L);
    visibility: visible
}

#faq #dropdown_01::checked::before {
    content: "\f077";
    font-family: 'FontAwesome';
    visibility: visible;
}

.faq-dropdown>input[type=checkbox]+label {
    height: var(--space_M);
    overflow: hidden;
}

.faq-dropdown>input[type=checkbox]:checked+label {
    height: fit-content;
}