* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**************************** 
         VARIABILI          
 ****************************/

:root {

    /* background colors */
    --first_bg_color: #0157ff;
    --second_bg_color: #a5cbe6;

    /* border colors */
    --first_brd_color: #605f60;
    --second_brd_color: #e4e2e4;

    /* text colors */
    --first_txt_color: #080000;
    --second_txt_color: #ffffff;
    --tird_txt_color: #61082b;

    /*max-width */
    --first_max-width: 920px;
    --second_max-width: 1100px;

    /* space */
    /*     --space_XS: */
    --space_XS: 5px;
    --space_S: 10px;
    --space_M: 20px;
    --space_L: 40px;
    --space_XL: 60px;

    /*column-size  */
    --first_col-space: 30%;
    --second_col-space: 70%;
    --third_col-space: 60%;
    --fourth_col-space: 20%;

    /* column/row space */
    --fifth_col-space: 50%;

    /* font-size */
    --font-size_XS: 12px;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size_XS);
}




/*************************
            ELEMENTS
    **************************/


h1 {
    font-size: 52px;
    font-weight: 800;
    padding: var(--space_L) 0;
}

h2 { font-size: 32px;
    font-weight: 700;
    padding: var(--space_L) 0;}

h3 {}

h4 {}

h5 {}

p {
    padding-bottom: var(--space_M);
}

a {
    display: inline-block;
    padding-bottom: var(--space_M);

}

section {
    max-width: var(--first_max-width);
    margin: auto;
  }

li {
    list-style-type: none;
}


.btn {
    background-color: #0157ff;
    border: none;
    color: #ffffff;
    padding: var(--space_S) var(--space_M);
    margin-bottom: var(--space_M);
}

.btn.small {
    padding: var(--space_XS) var(--space_S);

}


.alternative {
    padding-bottom: var(--space_M);
}

/*************************
            HEADER
**************************/

/* nav */
nav li {
    display: inline-block;
}

nav a,
article a {
    text-decoration: none;
    color: #080000;
}

nav .btn.small {
    margin-bottom: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space_S);
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
}

.nav-sx *,
.nav-dx * {
    display: inline;
    vertical-align: middle;
    padding: var(--space_XS);
}

/* jumbo */
header article {
    background-color: #a5cbe6;
    margin-bottom: 60px;
}

.jumbo-container {
    width: var(--second_max-width);
    margin: auto;
    position: relative;
    top: 60px;
}

[class*="row"] {
    display: flex;
    flex-direction: row;
}

[class*="col_30"] {
    width: 30%;
    position: relative;
}

[class*="col_70"] {
    width: 70%;
}
[class*="col_60"] {
    width: 60%;
}

.jumbo a {
    padding-bottom: var(--space_M);
}

.jumbo-img img {
    width: 80%;
}

.jumbo-download-icon {
    position: absolute;
    bottom: 50px;
    font-size: 36px;
    color: #080000;

}

/*************************
           MAIN
**************************/
/* section  business plan */



.business-plan .radio-btn span{
    padding-right:var(--space_L);
}

section img{
    width: 100%;
}

/* contat*/



/* operation */

.operations .row_30-30-30{
    flex-wrap: wrap;
}