* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**************************** 
         VARIABILI          
 ****************************/

:root {

    /* background colors */
    --primary_bg_color: #0157ff;
    --secondary_bg_color: #a5cbe6;

    /* border colors */
    --primary_brd_color: #605f60;
    --secondary_brd_color: #ddcdbf;

    /* text colors */
    --primary_txt_color: #080000;
    --secondary_txt_color: #ffffff;
    --tertiary_txt_color: #61082b;

    /* border */
    --border: 1px solid #ddcdbf;

    /*max-width */
    --primary_max-width: 920px;
    --secondary_max-width: 1200px;

    /* space */
    /*     --space_XS: */
    --space_XS: 5px;

    --space_S: 15px;
    --space_2S: calc(var(--space_S)*2);
    var(--space_2S) --space_1-2M: calc(var(--spaceM)/2);
    --space_M: 20px;
    --space_2M: calc(var(--space_M)*2);
    --space_4M: calc(var(--space_M)*4);

    /* font-size */
    --primary_font-size: 12px;
}



body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--primary_font-size);
}

/* **************************************************************
classi comuni
**************************************************************/

/******************************
            ELEMENTS
    **************************/

h1 {
    font-size: 52px;
    font-weight: 800;
    padding-bottom: var(--space_2M);
}

h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: var(--space_2M);
}

h3 {
    font-size: 24px;
    padding: var(--space_S) 0;
    font-weight: 700;

}

h4 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: var(--space_S);
}

a {
    display: inline-block;

}

li {
    list-style-type: none;
}

li:not(:last-child) {
    padding-bottom: var(--space_S);
}

ul {
    padding-top: var(--space_S);
}

article {
    max-width: var(--secondary_max-width);
    margin: auto;
}

section {
    max-width: var(--primary_max-width);
    margin: auto;
}

section img {
    display: block;
    width: 100%;
    object-fit: contain;
}

section,
article {
    padding-bottom: var(--space_4M);
}

/***** CLASS-UTILITIES ********************/

[class*="section-title"] {
    padding-top: var(--space_M);
}

.sub-title {
    padding-bottom: 10px;
}

/***** divisori ********/

.divider {
    width: 20%;
    border-top: 1px solid var(--secondary_brd_color);
    margin: var(--space_M) 0;
}

/** row / column *******/

[class*="row"] {
    display: flex;
    flex-direction: row;
}

[class*="col_30"] {
    width: 30%;
    position: relative;

}

[class*="col_70"] {
    width: 70%;
}

[class*="col_60"] {
    width: 60%;
}

[class*="col_40"] {
    width: 40%;
    position: relative;
}

/*** colori ************/

.bg-color {
    background-color: var(--secondary_bg_color);
}

/** bottoni ***********/

.btn {
    background-color: #0157ff;
    border: none;
    color: #ffffff;
    padding: calc(var(--space_M) /2) var(--space_M);
    margin: var(--space_M) 0;
}

.btn.small {
    padding: var(--space_XS) calc(var(--space_M) /2);
}

.btn.white {
    background-color: #ffffff;
    color: #080000;
    border-top: 1px solid var(--secondary_brd_color);
    border-right: 1px solid #b3aaa3;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid grey;
}

.btn.borderless {
    border: none;
}


/*************************
            HEADER
**************************/

/**********NAV********************/
nav li {
    display: inline-block;
}

nav a,
article a {
    text-decoration: none;
    color: #080000;
}

nav .btn.small {
    margin-bottom: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*     padding: calc(var(--space_M) /2); */
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
}

.nav-sx *,
.nav-dx * {
    display: inline;
    vertical-align: middle;
    padding: var(--space_XS);
}

/**********JUMBOTRON*****************/

header article {
    margin-bottom: calc(var(--space_M)*3);
}

#jumbo-container {
    position: relative;
    padding: 0 var(--space_M);
    top: calc(var(--space_M)*6);
}

.jumbo-img img {
    width: 100%;
}

.jumbo-download-icon {
    position: absolute;
    bottom: 50px;
    font-size: 36px;
    color: #080000;
}

/*************************
           MAIN
**************************/


/*** BUISNESS PLAN SECTION**********************/

#business-plan_section {
    /* relative <-- icon absolute */
    position: relative;

}

.section-body.row_30-30-30 {
    justify-content: space-between;
}

.section-header,
.section-body,
.section-footer,
.card-container {
    padding-bottom: var(--space_2S);
}

/**********Radio-button**************/

.radiobutton-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-right: 40px;
}

.radiobutton-container input[type="radio"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    transform: translatex(5px);
}

.radiobutton-container .radio-mark {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--secondary_brd_color);
    border-radius: 50%;
    transform: translateY(5px) translateX(-5px);
}

.radiobutton-container:hover input +.radio-mark {
    background-color: var(--secondary_bg_color);
}


.radiobutton-container input:checked + .radio-mark {
    background-color:white;
    border: 7px solid #4880f0;
}


/*********card*********/

.section-body .card.col_30 {
    width: 30%;
}

/* class-utilitie */
[class$="top-title"] {
    padding: 10px;
    border: var(--border);
    border-bottom: 0;
    text-align: center;
}

#business-plan_section h5 {
    display: inline-block;
}

.card-container,
#business-plan_section .row_70-30 {
    border: var(--border);
}

.card-container,
.section-footer .col_30,
.section-footer .col_70 {
    padding: 0 var(--space_M);
}

.section-footer h3 {
    padding-top: 0;
}

.price::before {
    content: "\20AC";
}

.card .price-plan {
    color: var(--secondary_brd_color);
    padding-bottom: var(--space_S);
}

#business-plan_section .btn {
    width: 100%;
}

.section-footer .col_30 {
    text-align: right;
}

/*__________________________icone__________________________ */
/* non lo farò mai più così ma non ho voglia di cambiarlo */

.card li.users::before {
    content: "\f007";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.advanced li.users::before {
    content: "\f0c0";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card li.archive::before {
    content: "\f07b";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card li.sharing::before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    transform: translateY(2px);
    position: absolute;
    left: 25px;
}

.card-footer li::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #0157ff;
    font-size: larger;
    transform: translateY(2px);
    position: absolute;
    left: var(--space_M);
}

.card li {
    padding-left: var(--space_M);
}

.card-footer ul {
    padding-bottom: var(--space_2M);

}

/**********PARTNERSHIP SECTION****************** */

#partnership-section .col_40 {
    padding: 15px var(--space_2S);
    text-align: left;
}

/**************OPERATION SECTION*********************** */

#operations .section-title {
    text-align: center;
}

#operations .row_30-30-30 {
    flex-wrap: wrap;
    gap: calc(var(--space_M) *2);
}


/*********BUNNERS ***********************/

.row_60-40 {
    display: flex;
    justify-content: space-between;
}

.col_40 {
    text-align: center;
}

section.bunner {
    padding-top: var(--space_2M);
}

#bunner_more-teams {
    margin-bottom: var(--space_4M);
}

#bunner_more-teams .title.tird-color h2 {
    padding-bottom: 0;
    padding-top: var(--space_M);
    color: #61082b;
}

#bunner_more-teams .row_60-40 {
    padding-top: var(--space_2M);
}

/************** square ************************/

.square-bunner-container {
    display: flex;
}

/* 3 riquadri genitori uguali */
.square-bunner-container>* {
    width: 33.3%;
}

/* 3 questa regola  permette di far riferire l'altezza dell'elemento non al padre ma alle misure dell'elemento stesso!! */
.square-bunner-container>*::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/*contenitori larerali di mini.sqare */
.max-square.sx,
.max-square.dx {
    display: flex;
    flex-wrap: wrap;
}

/* square  */
.max-square.sx>*,
.max-square.dx>* {
    width: 50%;
    height: 50%;
    /* position relative per le immagini contenute */
    position: relative;
}

.mini.square-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini.square-content>* {
    position: absolute;
    width: 50%;
    height: 50%;
    /* svg bianche */
    filter: invert();
}

.maxi.square-content .main-wrap {
    position: absolute;
    width: 33.3%;
    padding: var(--space_2S);
}

.main-wrap .divider {
    margin-top: var(--space_2S);
    margin-bottom: var(--space_2S);
}

.main-wrap img {
    width: 50%;
    /* padding-bottom: calc(var(--space_M) *2); */

}

.square-content.university_of_florida>img {
    height: 10%;
}

/* ..square-content colors ..*/

.square-content.designit {
    background-color: #a2d39b;
    border: 1px solid #d1e9cd;
}

.square-content.arizona_state_university {
    background-color: #61082b;
}

.square-content.university_of_florida {
    background-color: #0093ce;
}

.square-content.topps {
    background-color: #ff1c1c;
}

.square-content.world_bicycle_relief {
    background-color: #d5001f;
}

.square-content.hearts_crop {
    background-color: #b4d0e7;
}

.square-content.lonely_planet {
    background-color: #0d2481;
}

.square-content.clear_channel {
    background-color: #ffd830;
}

.maxi-square .square-content {
    height: 100%;
    background-color: #f5f5f5;
}


/*********** F.A.Q ***********************/
#faq h4 {
    padding: var(--space_2S) 0;
    display: inline-block;
}

#faq input {
    display: inline-block;
    position: relative;
    left: 35%;
    visibility: hidden;
}

#faq .faq-dropdown {
    border-top: 1px solid #605f6036;
    border-bottom: 1px solid #b3aaa3a1;
}


#faq input:checked {
    position: relative;
    visibility: hidden;
}

#faq input::before {
    content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    visibility: visible;
    padding: var(--space_2S);
    transform: translateX(calc(0px - var(--space_2S))) translateY(calc(0px - var(--space_2S)));
}

#faq input:checked::before {
    content: "\f077";
    font-family: 'FontAwesome';
    visibility: visible;
    padding: var(--space_2S);
    transform: translateX(calc(0px - var(--space_2S))) translateY(calc(0px - var(--space_2S)));
}

.faq-dropdown label>input[type=checkbox]+.answer {
    height: 0px;
    overflow: hidden;
}

.faq-dropdown label>input[type=checkbox]:checked+.answer {
    height: fit-content;
}

.answer-link {
    padding-top: 10px;
}

/***************** FOOTER *************************/

footer {
    background-color: #080000;
    color: white;
}

#footer-container {
    width: var(--secondary_max-width);
    padding: var(--space_2S) 0;
    margin: auto;
}

footer .row_20x5 {
    display: flex;
    padding-top: 10px;
    padding-bottom: var(--space_2S);
}

footer .col_20 {
    width: 20%;
}

footer .col_20 li {
    font-weight: 300;
}

.footer-language * {
    background-color: #080000;
    color: #3b3a3b;
    border: none;

}